<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
  <div class="panel-heading">
    <div class="row pad-all">
      <h4 class="title margin-left-right">{{ document?.name }}</h4>
      <div class="row pull-right margin-left-right">
        <a class="btn btn-primary spaced-button">View</a>
        <a class="btn btn-info spaced-button">Edit</a>
        <a class="btn btn-danger spaced-button">Delete</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="pad-left-right">
      <div class="row">
        <strong>Description: </strong>
        <span class="label-value">{{ document?.description }}</span>
      </div>
      <br>
      <div class="row">
        <strong>URL: </strong>
        <a href="{{ document?.url }}"><span class="label-value">{{ document?.url }}</span></a>
      </div>
    </div>
  </div>
</div>
